body {
    background-color: #e0e5eb;
}

.box {
    margin: 30px;
    box-sizing: border-box;
    width: 800px;
    height: 250px;
    padding: 20px;
    box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    align-items: center;
    background-color: #e0e5eb;
    justify-content: center;
    transition: all .2s ease-in-out;
}

.box:hover {
    transform: scale(1.1);
}