h2{
    display: flex;
    justify-content: center;
}

.flex{
    display: flex;
    justify-content: space-evenly;
    /*justify-content: center;*/
}

.a1{
    border: 3px solid gray;
}

.center{
    display: flex;
    justify-content: center;

}